body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-weight: 700;
  color: white !important;
}

/* Navbar */
.navbar {
  padding: 15px;
  z-index: 1001; 
}

@media (max-width: 500px) {
  .navbar-brand {
      font-size: 1.2rem;
  }
}

@media (min-width: 501px) {
  .navbar-brand {
      font-size: 1.5rem;
  }
}

/* HERO SECTION */

.hero {
  height: 100vh;
  margin-top: -100px;
}

.animation-container {
  width: 500px; 
  height: 500px; 
  overflow: hidden; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas3d {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 62%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  
}

.logoContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}


.logoSvl{
  padding-top: 50px;
}


.logoSvlMobile {
  display: none;
}

@media (max-width: 992px) {
  .logoSvl {
      display: none;
  }

  .logoSvlMobile {
      display: block;
  }

  .logoContainer {
      flex-wrap: wrap; 
  }

  .animation-container {
      order: 1;
  }

  .logoSvlMobile {
      order: 2; 
  }
}


@media (min-width: 993px) {
  .logoSvl {
      display: block;
  }

  .logoSvlMobile {
      display: none;
  }

  .logoContainer {
      flex-wrap: nowrap; 
  }
}

@media (max-width: 450px) {
  .logoSvlMobile img {
      max-width: 315px;
      width: 100%; 
  }
}

/* CARROUSEL BRANDS */

.brand-carousel {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.carousel-wrapper {
  display: flex;
  animation: scroll 60s linear infinite; /* Ajusta la duración si es necesario */
}

.carousel-item {
  display: inline-block;
  margin-right: 20px;
}

.brand-card {
  width: 200px;
  background-color: rgb(217, 98, 0);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.brand-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

/* Animación infinita y continua para el loop */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Ajuste del porcentaje para que el loop sea fluido */
  }
}



/* SECTION QUIENES SOMOS */


#quienes-somos {
font-size: large;
  padding: 20px;
  padding-top: 80px !important; 
  scroll-padding-top: 80px !important; 
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 25px;
}


@media (max-width: 767px) {
  #quienes-somos {
    box-shadow: none; 
  }
}

.row.names {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.row.names div {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 200px;
  color: #000 !important;
}

h2, h5 {
  color: #000; 
}

/* Estilos para el efecto de parallax */
.parallax-item {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Cuando el elemento es visible, se activan las animaciones */
.parallax-item.show {
  opacity: 1;
  transform: translateY(0);
}


/* CONTACT SECTION */

#contact-section{
  padding-top: 40px !important; 
  scroll-padding-top: 40px !important; 
}

/* BOTON DE WHATSAPP */

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.whatsapp-logo {
  width: 60px;
  height: 60px;
}

