
<section class="py-5 bg-light">
    <div class="container bg-light-grey p-4">
        <h2 class="text-center mb-4">MARCAS</h2>
        <div class="brand-carousel d-flex align-items-center">
            <div class="carousel-wrapper">
                <div class="carousel-item">
                    <div class="brand-card">
                        <img src="../assets/brands/01-saturnvanity-apple.png" alt="Apple">
                        <p>Apple</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="brand-card">
                        <img src="../assets/brands/02-saturnvanity-Samsung.png" alt="Samsung">
                        <p>Samsung</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="brand-card">
                        <img src="../assets/brands/03-saturnvanity-xiaomi.png" alt="Xiaomi">
                        <p>Xiaomi</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="brand-card">
                        <img src="../assets/brands/04-saturnvanity-honor.png" alt="Honor">
                        <p>Honor</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="brand-card">
                        <img src="../assets/brands/05-saturnvanity-oppo.png" alt="Oppo">
                        <p>Oppo</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="brand-card">
                        <img src="../assets/brands/06-saturnvanity-oneplus.png" alt="OnePlus">
                        <p>OnePlus</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="brand-card">
                        <img src="../assets/brands/07-saturnvanity-pixel.png" alt="Pixel">
                        <p>Pixel</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="brand-card">
                        <img src="../assets/brands/08-saturnvanity-poco.png" alt="Poco">
                        <p>Poco</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="brand-card">
                        <img src="../assets/brands/09-saturnvanity-motorola.png" alt="Motorola">
                        <p>Motorola</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="brand-card">
                        <img src="../assets/brands/10-saturnvanity-nokia.png" alt="Nokia">
                        <p>Nokia</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="brand-card">
                        <img src="../assets/brands/11-saturnvanity-ulefone.png" alt="Ulefone">
                        <p>Ulefone</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="brand-card">
                        <img src="../assets/brands/12-saturnvanity-huawei.png" alt="Huawei">
                        <p>Huawei</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="brand-card">
                        <img src="../assets/brands/13-saturnvanity-zte.png" alt="ZTE">
                        <p>ZTE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
